body{
	margin: 0;
}


.mainW{
	position: relative;
	top: 50px;
	height: 500px;
	width: 1000px;
	margin: 0px auto;
}

.scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.content{
	position: relative;
	width: 100%;
}

.texts{
	height: 2000px;
	background: -webkit-linear-gradient(red,green, blue); 
	background: -o-linear-gradient(red,green, blue); 
	background: -moz-linear-gradient(red,green, blue); 
	background: linear-gradient(red,green, blue); 
}




.scrollDiv{ 
	cursor: pointer;
	position:absolute; 
	width:18px; 
	height: 100%;
	top:0; 
	right: -19px;
	background:#666; 
	border-radius:10px;
}
.slider{
	position: absolute;
	width: 18px;
	top: 0%;
	background: red;
	border-radius:10px;
}

