html,body{
  padding: 0;
  margin: 0;
}

.main{
  width: 100%;
  height: 500px;
  display: block;
}
.left{
  width: 20%;
  height: 100%;
  background-color: #a00;
  padding: 0;
  margin: 0;
  float: left;
}
.items{
  position: relative;
  margin: 0 auto;
  background-color: #aaa;
  top: 100px;
  height: 300px;
  width: 80%;
}


.right{
  width: 80%;
  height: 100%;
  background-color: #00a;
  padding: 0;
  margin: 0;
  float: left;
}
.show{
  position: relative;
  margin: 0 auto;
  background-color: #aaa;
  top: 100px;
  height: 300px;
  width: 80%;
}


.aitem{
  cursor: pointer;
  z-index: 9999;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: yellow;
}

.form{
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: red;
}
